<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>mY!cook</title>

<link rel="stylesheet" href="/static/css/pure-min.css">
<link rel="stylesheet" href="/static/css/small_main.css">  
<script src="/static/js/ajf8ggy.js"></script>
<script>
    try { Typekit.load(); } catch (e) {}
</script>
</head>
<body>

    <div class="pure-g-r " id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
    <img src="/static/img/navicon-png2x.png" width="20"
         alt="Menu toggle">
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">mY!Cook</a>

        <ul>
          
            <li class=" ">
                <a href="/">Search</a>
            </li>
          
            <li class=" ">
                <a href="/where">Where do I eat?</a>
            </li>
          
            <li class=" ">
                <a href="/how">Help me cook</a>
            </li>
          
            <li class=" menu-item-divided">
                <a href="/thanks">Enjoy!</a>
            </li>

        </ul>
    </div>
</div>

<div class="pure-u" id="main">

	<div class="header pure-u-1">
		<h1 class="pure-u-1">mY!Cook</h1>
		<h2 class="pure-u">Cool, so you have decided to ask your mom, relatives or friends!</h2>
	</div>
</div>
</body>
</html>

