
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>mY!cook</title>

<link rel="stylesheet" href="/static/css/pure-min.css">
<link rel="stylesheet" href="/static/css/main.css">  
<script src="/static/js/ajf8ggy.js"></script>

<script>
    try { Typekit.load(); } catch (e) {}
</script>
<script language="Javascript" type="text/javascript">
 
        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) ||charCode == 13 || charCode == 32)
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }
 
    </script>
</head>
<body>

    <div class="pure-g-r " id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
    <img src="/static/img/navicon-png2x.png" width="20"
         alt="Menu toggle">
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">mY!Cook</a>

        <ul>
          
            <li class=" ">
                <a href="/">Search</a>
            </li>
          
            <li class=" ">
                <a href="/where">Where do I eat?</a>
            </li>
          
            <li class=" ">
                <a href="/how">Help me cook</a>
            </li>
          
            <li class=" pure-menu-selected">
                <a href="/thanks">Enjoy!</a>
            </li>

        </ul>
    </div>
</div>

<div class="pure-u" id="main">

<div class="hero">
    <h1 class="pure-u-1">peacemax</h1>
    <h2 class="pure-u-3-4 l-centered">Sreyanth and Nitish<br><br>
    Thank you!</h2>
</div>
 <script src="/static/js/rainbow.js"></script>
</body>
</html>

